.btn {
    display: block;
    margin-top: 1%;
    padding: none;
    background-color: white;
    border: none;
    color: BLUE;
    font-size: 20px;
    letter-spacing: 0.1cm;
}

p#text {
    font-size: 50px;
    letter-spacing: 0.1cm;
}